/* ---------------Start Global Rules --------------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap");

:root {
  --main-font: "Open Sans", sans-serif;
  --back-color: #000;
  --main-color: #de0712;
}

/* ---------------End Global Rules --------------- */

* {
  box-sizing: border-box;
}
/* --------------------- End  CSS Reset Rules --------------------- */

/* ----------------- Start Header style ---------------- */
body {
  font-family: var(--main-font);
  color: #fff;
  text-align: center;
}
body::after {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1612454376902-577cd469d008?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
header {
  width: 90%;
  height: 5.813rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0.625rem;
  margin: 0 auto;
}
header .logo {
  color: var(--back-color);
  font-weight: bold;
  font-size: 2.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* home css */

#container {
  margin: 2rem 3.5rem 0 3.5rem;
  padding: 1rem 1rem 0 1rem;
}
.head {
  display: flex;
  position: relative;
  display: inline-block;
  justify-content: space-between;
  height: 3rem;
  align-items: center;
  font-size: 1.5rem;
  max-width: 1110px;
  margin: 0 auto;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head a:hover {
  background-color: #ddd;
}

.search-box {
  color: #22254b;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  font-size: 1.3rem;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}
.search-box a {
  color: black;
  background: #eee;
  opacity: 0.6;
  width: 20rem;
  padding: 10px 24px;
  text-decoration: none;
  display: block;
}
.search-box a:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
#search {
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 20rem;
  opacity: 0.7;
  font-size: 1.1rem;
  padding: 1.5rem;
  background: rgb(236, 236, 236);
  height: 2rem;
  text-align: center;
}

#search:focus {
  outline: 0;
  background-color: rgb(185, 185, 185);
}

.title {
  position: relative;
  padding: 1.2rem;
}
.title::after {
  content: "";
  background-color: var(--back-color);
  opacity: 0.5;
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.4;
  border-radius: 5px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

/* ----------------- End Header style ---------------- */

/* ----------------- Result Section -------------------*/
.result-container {
  background-color: rgba(238, 238, 238, 0.6);
  margin: 10rem auto 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  color: #000;
  width: 35rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.result-container img {
  margin-right: 3rem;
  transform: translate(0);
  transition: transform 0.25s ease-out;
}

.result-container img:hover {
  transform: scale(1.09);
}

.result-container .result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex: 2;
  padding-left: 1rem;
  border-left: 1.5px solid rgba(222, 7, 18, 0.5);
}

.result-container .name {
  font-size: 1.4rem;
}
/* ----------------- Result Section -------------------*/
/* responsive 600 max  */
@media (max-width: 600px) {
  .head {
    font-size: 2rem;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  }
  header .logo {
    font-size: 1.5rem;
  }
  .title {
    font-size: 1rem;
  }

  #search {
    width: 14rem;
    text-align: left;
    padding-left: 2rem;
  }
}
